:root {
  font-family: "DM Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0c0c1d;
  background-color: #0f292f;
  background-image: url(https://historyoficons.com/assets/css/images/hisroy-of-icons-bgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  color: lightgray;
  overflow: hidden;
}
@media (max-width: 896px) {
  body {
    background-image: url(https://historyoficons.com/assets/css/images/history-of-icons-bgr-320x568.png);
  }
}
